<meta charset="UTF-8">
<div class="container">
    <h1>Detalhes do usuário</h1>

    <form novalidate="novalidate" name="AddNewForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputNome">Nome:</label>

            <div class="controls">
                <input type="text" id="inputNome" ng-model="user.nome"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputNomeUsuario">Usuário:</label>

            <div class="controls">
                <input type="text" id="inputNomeUsuario" ng-model="user.nomeusuario"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">Cancelar</a>
                <a ng-click="updateUser()" ng-disabled="AddNewForm.$invalid || isUnchanged(usuario)" class="btn btn-small btn-primary">Atualizar</a>
                <button class="btn btn-danger" ng-click="delete(usuario)">Delete <span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </form>
</div>
